.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  padding: 100px 0;
}

.info span {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 30px;
}

.btn {
  background-color: transparent;
  font-size: 1.1rem;
  color: white;
  border-radius: 8px;
  border: 1px solid rgb(221, 211, 211);
  padding: 8px;
  height: 3rem;
  cursor: pointer;
  width: 80%;
}

.btn:hover {
  font-size: 1.2rem;
  border: 1px solid white;
}
